* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
h1 {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
h1:hover {
  cursor: pointer;
  scale: 0.8;
  transition: 0.5s;
}
h1:first-child:hover {
  background-color: red;
}
h1:nth-child(2):hover {
  background-color: rgb(56, 238, 59);
}
h1:nth-child(3):hover {
  background-color: rgb(133, 39, 255);
}
